<div class="hero-unit">
  <h1>Welcome to Luis's Showcase</h1>
  <p>This is where I have my stash, take a look!</p>
  <p>Assignment: Ruby on Rails</p>
  <p>Student: <b>Robert Peralta 10-0786</b></p>
  <p>
    <a href="/products_index" class="btn btn-primary btn-large">
      See Products
    </a>
    <a href="http://joshonrails.com?referer=10-0786" class="btn btn-success btn-large">
      See Class Site
    </a>
  </p>
</div>