<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Day</th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.start_time %></td>
    <td><%= schedule.end_time %></td>
    <td><%= schedule.day %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @posts %>


