<h1>Subjects</h1>

<%= link_to I18n.t('fray.report'), '/subjects/report', :class => 'btn btn-info pull-left down_pusher' %>

<table>
  <tr>
    <th>Name</th>
    <th>Stage</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.stage.name %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @posts %>

