<h1>Listing periods</h1>

<table>
  <tr>
    <th>Init date</th>
    <th>End date</th>
    <th>Type</th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.init_date %></td>
    <td><%= period.end_date %></td>
    <td><%= period.kind %></td>
  </tr>
<% end %>
</table>

