<h1>Assign Weights</h1>

<table>
  <tr>
    <th>Grade</th>
    <th>Value</th>
    <th>Max Grade</th>
    <th>Weight</th>
    <th></th>
  </tr>

  <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.comment %></td>
        <td><%= grade.value %></td>
        <td><%= @max_grades[@grades.index grade].value %></td>
        <td>
          <input type="text" class="weight_slider" value="0" data-slider-min="0"
                 data-slider-max="1" data-slider-step="0.0001"
                 data-slider-value="0" data-slider-orientation="horizontal"
                 data-slider-selection="after" data-slider-tooltip="show">
        </td>

      </tr>
  <% end %>
</table>

  <%= link_to I18n.t('fray.buttons.back'), '/grades/manage/'+@lecture.group.id.to_s+'/'+@lecture.id.to_s, :class => 'btn btn-primary'%>

