<h1>Overall Grades</h1>

<table>
  <tr>
    <th>Grade</th>
    <th>Average</th>
    <% if @accum>0 %>
      <th>Max Grade</th>
    <% end %>
  </tr>

  <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.comment %></td>
        <td><%= grade.value %></td>
        <% if @accum>0 %>
        <td><%= @max_grades[@grades.index grade].value %></td>
        <% end %>

      </tr>
  <% end %>
</table>

  <%= link_to I18n.t('fray.buttons.back'), '/grades/manage/'+@lecture.group.id.to_s+'/'+@lecture.id.to_s, :class => 'btn'%>

